<div class="hicontainer" rel="preload">
    <div class="hi">
        <div class="hello animate__animated animate__fadeIn animate__slower">
            <h1>HI</h1>
            <h2>I am VEDHA VIKASH</h2>
            <p><i>"Only those who risk going too far can potentially find out how far one can go"</i>
            </p>
            <p>Welcome to my portfolio! I am a individual with a passion for sports and
                programming. I invite you to explore my portfolio and learn more about my skills and
                experience.
            <p>
        </div>
    </div>
    <div class="pic">
        <img Src="./assets/images/vikash.jpg" width="300" height="300">
    </div>
</div>