<div class="hicontainer" rel="preload">
    <div class="hi">
        <div class="hello animate__animated animate__fadeIn animate__slower">
            <h1>Hey there!</h1>
            <h2>I am VEDHA VIKASH</h2>            
            <p><i>Compile, Compete, Congratulate : Welcome to "ME" page.</i><br><br>
                I code like I play - with strategy, skill, and a winning mindset. My playbook combines cutting-edge tech with sports-driven determination .
            </p>                        
            <p>Curious about my stats? Go forward to see my carrier path highlights and skills.<br><br>
                Willing to level up your team? Let's connect and make some digital magic happen!
            </p>
            <p>Game on. Code on. Let's innovate.</p>
        </div>
    </div>
    <div class="pic">
        <img Src="./assets/images/vikash.jpg" width="300" height="300">
    </div>
</div>