<div class="hicontainer">
    <div class="hi">
        <div class="hello">
            <h1>HI</h1>
            <h2>lorem epsum youtubr asd</h2>
            <p>asdad asdad dasd ad njah ih hiodsa kiasjd ioaioasd
                asdasda                asdasdaasdadsa asd  asdasdasdadsasd   sdadadd asdasd dasdasd asdasdada assdasdadasdasdasdadadasdasdfadasda
                asdad adad asdaj aodjasodj asdj
                adahduh
            </p>
            <button mat-raised-button>Basic</button>
        </div>
    </div>
    <div class="pic">
        <img src="../../assets/images/vikash.jpg" width="300" height="300">
    </div>
</div>