.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.error > *{
    margin:2%;
}
h1{
    font-size: 100px;
}
h3{
    font-size: large;
}