<div class="aboutme">
    
    <div class="animate__animated animate__bounceInLeft animate__slower">
        <img class="aboutmeimg" src="./assets/images/time.gif" height="550" width="600">
    </div>
    
        <div class="animate__animated animate__fadeIn animate__slower animate__delay-2s">
        <div class="hello">
            <h1>HI</h1>
            <h2>lorem epsum youtubr asd</h2>
            <p>asdad asdad dasd ad njah ih hiodsa kiasjd ioaioasd
                asdasda asdasdaasdadsa asd asdasdasdadsasd sdadadd asdasd dasdasd asdasdada
                assdasdadasdasdasdadadasdasdfadasda
                asdad adad asdaj aodjasodj asdj
                adahduh
            </p>
            <button mat-raised-button>Basic</button>
        </div>
    </div>
</div>