<div class="aboutme">
  <div class="animate__animated animate__bounceInLeft animate__slower">
    <img
      class="aboutmeimg"
      src="./assets/images/time.gif"
      height="550"
      width="600"
    />
  </div>

  <div
    class="animate__animated animate__fadeIn animate__slower animate__delay-2s"
  >
    <div class="hello">
      <p>
        A Java full stack developer with a twist. My
        code is clean, my reads are deep, and my game is strong.<br> <br>
        💻 Tech Playbook :: Java full stack development is my home turf . Building robust
        applications is my daily workout Debugging? That's my favorite puzzle <br><br>
        📚 Literary Lineup :: Childhood bookworm turned lifelong learner . Words fuel my
        imagination and sharpen my problem-solving skills <br><br>
        ⚽ Sports Scoreboard :: Football fanatic, both on and off the field .Team player who knows how to pivot
        from defense to offense Bringing that game-day energy to every project <br><br>
        The Winning Formula I blend is the logic of programming, the creativity of
        literature, and the discipline of sports into everything I do. It's not
        just about writing code – it's about crafting solutions, providing relief
        through technology.<br><br>
        Always in Beta version and constantly evolving, 
        Practical, easy-going, . I'm not just looking for
        the next big project; I'm looking for an impact.
      </p>
    </div>
  </div>
</div>
