.aboutme {
  height: 92%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pic hi";
  /* background-image: url("../../assets/images/grass.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;   */
}

.hi {
  grid-area: hi;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 1s;
  animation-duration: 3s;
}

.hello {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Playfair Display", serif;  
}

.hello > p {
  margin: 5%;
  font-size: 19px;
  line-height: 30px;
}

.pic {
  grid-area: pic;
  display: flex;
  justify-content: center;
}
/* h1{
    font-size:30px;
    font-family: 'Oswald', sans-serif;
  }
  h2{
    font-family: 'Oswald', sans-serif;
  } */

