<div class="contact">
<div class="contactheader">
    <h1>CONTACT / FOLLOW ME</h1>
</div>
<div class="sociallinks">
    <a href="#"><i class="fa fa-twitter fa-4x"></i></a>    
    <a href="mailto: vikashvedha@gmail.com" (click)="copymail()" class="fa fa-envelope"></a>
    <a href="https://www.linkedin.com/in/vedha-vikash/" class="fa fa-linkedin"></a>
    <a href="https://github.com/vedha-vikash-pixel" class="fa fa-github"></a>
    <a href="https://stackoverflow.com/users/16398162/dr-die-oxide" class="fa fa-stack-overflow"></a>
    <a href="https://www.instagram.com/vedhavikash/" class="fa fa-instagram"></a>        
</div>
</div>
