.contact{
    height:60%;
  background: #d2dce7

}
.contactheader{
    text-align: center;    
}

.contacts{
  display: flex;  
  width:100%;
  justify-content: space-evenly;
    align-items: center;
}
.contactimg{
  width:50vw;  
}
.contactimg img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.sociallinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width:70vw;    
    flex-wrap: wrap;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 150px;
    
    text-align: center;
    text-decoration: none;
    margin: 2%;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
    cursor: pointer;    
  }
  
  .fa:hover {      
      box-shadow: 1px 8px 20px grey;
    transition:  box-shadow .2s ease-in;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin:13.781px; 
    animation-delay: 1.1s;
  }
.fa-instagram {
    background: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#c13584,#e13063,#fd1d1d);
    color: rgb(255, 255, 255); 
    animation-delay: 1.3s;
  }
.fa-linkedin {
    background: #0a61b9;
    color: white; 
    animation-delay: 0.7s;
  }
.fa-github {
    background: #202020;
    color: #f2f2f2; 
    animation-delay: 0.5s;
  }
  .fa-envelope {
    background: #ffffff;
    color: #1796d7; 
    animation-delay: 0.3s;
  }  
  .fa-stack-overflow{
    background: #ffffff;
    color: #e6ad35; 
    animation-delay: 0.9s;
  }