<div class="contact">    
    <div class="contacts">        
        <div class="contactimg">
            <img src="./assets/images/contactme.gif" width="350" height="300">
        </div>
        <div class="sociallinks">
            <a href="mailto: vikashvedha@gmail.com" (click)="copymail()" class="fa fa-envelope animate__animated animate__flipInX animate__slower"></a>
            <a href="https://www.linkedin.com/in/vedha-vikash/" class="fa fa-linkedin animate__animated animate__flipInX animate__slower" target="_blank"></a>
            <a href="https://twitter.com/Vedhavikash007"><i class="fa fa-twitter animate__animated animate__flipInX animate__slower" target="_blank"></i></a>
            <a href="https://github.com/vedha-vikash-pixel" class="fa fa-github animate__animated animate__flipInX animate__slower" target="_blank"></a>
            <a href="https://stackoverflow.com/users/16398162/dr-die-oxide" class="fa fa-stack-overflow animate__animated animate__flipInX animate__slower" target="_blank"></a>
            <a href="https://www.instagram.com/vedhavikash/" class="fa fa-instagram animate__animated animate__flipInX animate__slower" target="_blank"></a>
        </div>
    </div>
</div>