<div class="skills">    

    <div class="flexouter">
      
    <div class="flex-container">
      <div *ngFor="let skill of skills" style="animation-delay: {{skill.delay}}" class="flip-card animate__animated animate__fadeInUp animate__slower">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            {{skill.skill}}
          </div>
          <div class="flip-card-back">
            <img src={{skill.path}} alt={{skill.stack}} height="50">     
          </div>
        </div>
      </div>
      </div>
      <div class="skillimg animate__animated animate__bounceInRight animate__slower">
        <img src="./assets/images/skills.gif" width="350" height="320">
      </div>

    </div>

</div>

        
