.burgercompo{
    display:grid;
    grid-template-columns: auto auto;
}
.burgerImg{
    margin-left:15%;
}
.stackinfo{
    color:white;
    font-family: 'Times New Roman', serif;
}
*{
    background: #101010;  
}
