.road {
  height: 92%; 
  background-color: #d2dce7;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.imgdiv{
  text-align: center;      
}

.stepper {
  height: 50%;
}
.mat-stepper {
  height: 100%;
  background-color: #d2dce7;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: green;
}
::ng-deep .mat-step-text-label {
  color: black;
}

::ng-deep .mat-stepper-horizontal-line {
  background-color: rgb(29, 86, 96);
}
