<div class="road">
  <div class="imgdiv">
    <img src="./assets/images/path.gif" alt="Path" height="300" width="600" />
  </div>
  <div class="animate__animated animate__fadeIn animate__slower">
    <div class="stepper">
      <mat-stepper class="mat-stepper">
        <mat-step label="School">
          <p>Innocent  |  Memorable  |   Valuable  |  Freedom to fail </p>
          <div>
            <button mat-raised-button color="accent" matStepperNext>Roll years Forward</button>
          </div>
        </mat-step>
        <mat-step label="College">
          <p>Transformative  |  Exposure  |  Connections |  Tech Interest </p>
          <div>
            <button mat-raised-button class="prevButton"color="warn" matStepperPrevious>Roll years backward</button>
            <button mat-raised-button color="accent" matStepperNext>Roll years Forward</button>
          </div>
        </mat-step>
        <mat-step label="EY">
          <p>Skills  |  Experience  |   Growth  |  Big 4 </p>
          <div>
            <button mat-raised-button class="prevButton" color="warn" matStepperPrevious>Roll years backward</button>

          </div>
        </mat-step>


      </mat-stepper>
    </div>
  </div>


</div>