<div class="road">
  <div class="animate__animated animate__fadeIn animate__slower">
    <div class="stepper">
      <mat-stepper class="mat-stepper">
        <mat-step label="School">
          <div>
            <button mat-raised-button color="accent" matStepperNext>Roll years Forward</button>
          </div>
          <div class="stepDesc">
            <p> My school years were an innocent, memorable and valuable journey, where I had the freedom to fail and learn from my mistakes. </p>
          </div>
          <div class="imgdiv">
            <img src="./assets/images/school.gif" alt="Path" height="350" width="350" />
          </div>
        </mat-step>
        <mat-step label="College">

          <div>
            <button mat-raised-button class="prevButton" color="warn" matStepperPrevious>Roll years backward</button>
            <button mat-raised-button color="accent" matStepperNext>Roll years Forward</button>
          </div>
          <div class="stepDesc">
            <p>College was a transformative experience that provided me with valuable exposure, connections and the opportunity to explore my tech interests.</p>
          </div>          
          <div class="imgdiv">

            <img src="./assets/images/college.gif" alt="Path" height="350" width="600" />
          </div>        
        </mat-step>
        <mat-step label="EY">
          <div>
            <button mat-raised-button class="prevButton" color="warn" matStepperPrevious>Roll years backward</button>
            <button mat-raised-button color="accent" matStepperNext>Roll years Forward</button>
          </div>
          <div class="stepDesc">
            <p>Ernst & Young was the place where I stepped into corporate , learnt my skills, gained experience, and grew as a professional, with the added benefit of being part of one of the Big 4 consulting firms. </p>
          </div>
          <div class="imgdiv">
            <img src="./assets/images/ey_logo.gif" alt="Path" height="300" width="350" />
          </div>
        </mat-step>
        <mat-step label="Harman">
          <div>
            <button mat-raised-button class="prevButton" color="warn" matStepperPrevious>Roll years backward</button>
          </div>
          <div class="stepDesc">
            <p>Harman International was the place which gave me the opportunity to grow myself as a core Backend developer in depth and also provided me the experience of working in a product life-cycle from scratch to release while working in a product company setup .</p>
          </div>
          <div class="imgdiv">
            <img src="./assets/images/harman_logo.gif" alt="Path" height="300" width="350" />
          </div>
        </mat-step>

      </mat-stepper>
    </div>

  </div>


</div>